.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

#controls {
 padding: 8px; 
 opacity: 0.92; 
 background: #f7f6fc; 
 z-index: 1000; 
  
}